/* Error: Inconsistent indentation, expected 6 spaces.
 *    ,
 * 19 |     h1               
 *    | ^^^^
 *    '
 *   Swap.module.sass 19:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Inconsistent indentation, expected 6 spaces.\a    \2577 \a 19 \2502      h1               \d\a    \2502  ^^^^\a    \2575 \a   Swap.module.sass 19:1  root stylesheet";
}
